<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Services</title>
</head>
<body>
    <div id="container1">
        <h1>Our Services</h1>
        <p>At Such Lean Solutions, we specialize in helping companies discover process value. With our expertise in Kaizen Workshops, and Value Stream Mapping, we unleash the true potential of organizations, giving them the strength to streamline operations, obliterate bottlenecks, and make decisions with laser-like precision</p>
        <div id="img">
        <img src="../images/valuestream.webp" >
        <img src="../images/digitizing.webp" alt="digitizing Diagram">
        <img src="../images/kaizen.webp" alt="Kaizen Diagram" srcset="">
    </div>
    <div id="btns">
    <button id="btn1" class="btn btn-warning">Value Stream Mapping</button>
    <button id="btn2" class="btn btn-warning">Digitizing Value Stream</button>
    <button id="btn3"class="btn btn-warning">Value Stream Mapping</button>

</div>
</div>
<div id="container2">
    <h1 >Value Stream Mapping</h1>
    <p>Our mastery of value stream mapping is like a superpower that enables us to streamline your operations, bulldoze bottlenecks, and help you make sound decisions that lead to success. Here’s where the process starts:</p>
     <h2>Value Stream Map Types</h2>
     <p>There are Three Main types of Value stream maps:</p>
  <div id="imgtypes">
    <img src="../images/production image.png" width="400px" height="300px" alt="Production Map">
    <img src="../images/transaction map.png" width="400px" height="300px" alt="Transaciton map">
    <img src="../images/supply network.png" width="400px" height="300px" alt="supply Network">
  </div>
  <div id="types">
    <h2>Production Map</h2>
    <h2>Transacitonal Map</h2>
    <h2>Supply Network</h2>
  </div>
  <div id="para">
    <p>Plant level, allows calculations of lead 
        time Capacity and Takt </p>
        <p>
            Merges business process modeling and lean into a unified 
            solution for offices
        </p>
        <p>Provides logistic VS mapping with calculations of demand, 
            landed cost and lead times

        </p>
  </div>
    </div>
    <div id="container3">
        <h1 id="pval">Why VSM for Process Value</h1>
        <div id="processvalues">
        <h2>⇒  VISUALIZE VALUE:</h2>
      <p>Value Stream Mapping provides clear visual representations of your value stream,
         enabling you to understand and improve your processes.</p>    
        <h2>⇒ DRIVE EFFICIENCY:</h2>
        <p>Value Stream Mapping provides clear visual representations of your value stream,
             enabling you to understand and improve your processes.</p>
       <img src="../images/fullmap.webp" id="fullmap" width="500px" height="300px" alt="">
    <h2>⇒ DATA-DRIVEN DECISIONS:</h2>
    <p>By digitizing the map, you can collect, analyze, and interpret process data,
         enabling informed decision-making and effective improvements.</p>
    </div>    
    </div>
    <div id="container4">
       <span ><h2 id="span1">Our Approach:Empowering Your organizations ⇒</h2></span>
    <div id="organ">
        <h3 id="head3">1. STICKY NOTE VALUE STREAM MAPPING:</h3>
      <p>Mapping by function explodes the process onto the wall for the entire 
        team to work together to understand and collaborate on. </p>
    <h3 id="head3">2. PROCESS ANALYSIS AND OPTIMIZATION:</h3>
    <p>Using digital software, we guide your team in mapping value streams, identifying waste, and setting improvement targets for your future state. By digitizing the Value Stream Map,
         we create a method to analyze your processes and easily run what if’s to identify opportunities for improvement.</p>
    <h3 id="head3">3. DATA-DRIVEN DECISION-MAKING:</h3>
    <p>We assist in data collection, analysis,
         and interpretation to uncover process enhancement opportunities.</p>
       <h3 id="head3">4. CONTINUOUS IMPROVEMENT CULTURE:</h3>
       <p>We foster a culture of continuous improvement, 
        supporting your team in implementing and sustaining VSM practices.</p>
        </div>
    </div>
</body>
</html>